.navbar {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    box-shadow: none;
  }
  
  .toolbar {
    display: flex;
    justify-content: space-between;
  }
  
  .logoContainer {
    display: flex;
    max-height: 55px;
    align-items: center;
  }
  
  .logoLink {
    color: white;
    text-decoration: none;
  }
  
  .logoImage {
    height: 100%;
  }
  
  .navLinks {
  }
  
  .drawerPaper {
    background-color: #ecf0f1;
  }
  